*.class

# outputs from various eval runs; explicitly add if we ever need in RCS.
*.csv

# Package Files #
*.jar
*.war
*.ear

# tmp files
*~

# lock files
\#*\#

# log files
*.log

# mac shit
*.DS_STORE
*/**/.DS_STORE

# intellij
.idea/
*.iml

reports/
.gradle/
build/
